
<<<<<<< HEAD
body {
    background: rgb(138,0,230);
}
h2 {
    font-family: fantasy;
    text-align: center;
    color: yellow;
}
h1 {
    font-family: fantasy;
    color: yellow;
    text-align: center;
}
img {
    margin-left: auto;
}
=======
>>>>>>> origin/master
