body {
    background: rgb(138,0,230);
}

h2 {
    font-family: fantasy;
    text-align: center;
    color: yellow;
}

h1 {
    font-family: fantasy;
    color: yellow;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.nextbuttons {
    display: block; 
    margin-left: auto;
    top: 500px;
}
    
div {
    display: block;
    height: 200px;
    width: 200px;
    border-color: yellow;
}

#Jumpbuttonflight {
    position: fixed;
    width: 20%;
    top: 100px;
    left: 20%;
}

#Potatobutton {
    position: fixed;
    width: 20%;
    top: 100px;
    left: 60%;
}

#Jumpinstructionsflight {
    position: absolute;
    top: 300px;
}

#Potatoinstructions {
    position: absolute;
    top: 300px;
}
 
p {
     color: yellow;
}

#nextbuttons {
    position:absolute;
    top: 700px;
    left:680.6666666px;
    
}

#background {
    height:100%;
    z-index: 0;
}

#flyinghamster {
    height: 20%;
    z-index: 1;
}
